.back-header{
    padding: 20px;
}
.back-header__arrow {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.back-header__arrow:hover{
    border-color: #32286c;
}
.back-header__arrow:active{
    border-color: #585183;
}
.back-header__arrow:after {
  content: '';
  display: inline-block;
  margin-top: 1.05em;
  margin-left: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid;
  border-right: 0.5em solid;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.back-header__arrow:hover:after{
    border-color: #32286c;
}
.back-header__arrow:active:after{
    border-color: #585183;
}