body {
    min-width: 1000px;
	margin: 0;
	padding: 0;
	font-family: Trebuchet MS, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}
.main-header{
    margin: 5px;
    margin-bottom: 10px;
    padding: 10px;
	font-size: 32px;
	line-height: 50px;
	font-weight: bold;
	color: white;
	background-color: #427e64;
}
.container{
    margin: 0px auto;
}
.container::after{
    display: table;
    content: "";
    clear: both;
}
.store{
    margin: 5px;
}
.store-menu{
    display: block;
    float: left;
    min-width: 250px;
    padding: 10px;
    background-color: #f2f2f2;
}
.store .store-menu h4{
	margin: 0;
	font-size: 16px;
}
.store .store-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.store .store-menu ul li{
    display: list-item;
    margin-left: 20px;
}
.store .store-info{
    display: block;
    float: left;
    min-width: 500px;
    margin: 15px 10px;
}
.store .store-info .store-info-title{
    padding-left: 10px;
    margin-bottom: 40px;
}
.store .store-info h2{
	margin: 0;
	font-size: 32px;
}
.store .store-info p{
	margin: 10px 0;
	font-weight: 500;
}
.store .store-info-section::after{
    display: table;
    content: "";
    clear: both;
}
.store-info-section .go-to-catalog{
    display: block;
    float: left;
    padding: 10px;
    padding-right: 100px;
    margin-right: 15px;
    background-color: #f2f2f2;
}
.store-info .store-info-section .go-to-catalog p{
    color: #7c4343;
}
.store-info-section .go-to-catalog:last-child{
    margin-right: 0;
}
.store .store-info .store-popular-title h3{
	margin: 25px 10px;
	font-size: 24px;
}
.store .store-popular .store-popular-section::after{
    display: table;
    content: "";
    clear: both;
}
.store .store-popular-section .store-popular-position{
    display: block;
    float: left;
    padding: 10px;
    padding-right: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
}
.store .store-popular-section .store-popular-position:nth-child(4n){
    clear:left;
}
}
.store .store-popular-position>div{
    display: block;
    float: left;
}
.store .store-popular-position .position-image{
    display: block;
    float: left;
    width: 57px;
    height: 57px;
    margin: 5px 0;
    vertical-align: middle;
    background-color: #c2c2c2;
}
.store .store-popular-position .position-navigation{
    display: block;
    float: left;
    margin-left: 5px;
}
.store .store-popular-position .position-navigation div{
    margin: 5px;
}
.store .store-popular-position .position-navigation .position-button{
    padding: 2px 10px;
    background-color: #cccccc;
}
.store .store-popular-position .position-navigation .position-button:hover{
    background-color: #c2c2c2;
    cursor: pointer;
}
.main-footer{
    padding: 10px 15px;
    background-color: #f2f2f2;
    color: #7c4343;
}
.main-footer>p{
    display: block;
    margin: 0;
}
.main-footer::after{
    display: table;
    content: "";
    clear: both;
}
.main-footer .contact-info{
    float: left;
}
.main-footer .copyright{
    float: right;
}