.navigation{
    display: inline-block;
}
.navigation__page{
    display: inline-flex;
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 26px;
    line-height: 34px;
    cursor: pointer;
}
.navigation__page:hover{
	background-color: #32286c;
	color: white;
}
.navigation__page:active{
	background-color: #32286c;
	color: #585183;
}