.post__comments{
    width: 100%;
}
.post__comments__list{
    padding: 0 10px;
    min-width: 440px;
    display: grid;
    grid-template-columns: auto;
}
.post__comments__list .post-comment:nth-child(n+1){
    margin-top: 10px;
}
.post__comments__view{
    display: flex;
    align-items: center;
}
/*
.posts .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.posts__list{
    flex-grow: 1;
    width: 100%;
    display: grid;
    padding-top: 15px;
    padding-bottom: 25px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    align-items: start;
}
.posts__list .post:nth-child(n+4){
    margin-top: 30px;
}
.posts .ant-pagination{
    text-align: center;
    padding: 5px 0;
    width: 270px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px;
    background-color: white;
}*/
