.main-header .container{
    margin-bottom: 10px;
	background-color: #009a58;
}
.main-header h1{
    padding: 10px;
    font-size: 36px;
    line-height: 50px;
    font-weight: bold;
    color: white;
}
.main-header_narrow{
    display: none;
}

@media (max-width: 731px) {
    .main-header_wide{
        display: none;
    }
    .main-header_narrow{
        display: block;
    }
}